{%extends "layout.html" %} 
{%block content %}
<section>
    <div class="container my-5">
        <nav>
            <div class="nav nav-tabs" id="tablist">
                <a class="link" href="/dashboard/profile">
                    <button class="{{'nav-link active' if active_tab=='profile' else 'nav-link'}}" id ="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">
                        Profile
                    </button>
                </a>
                <a class="link" href="/dashboard/new_lesson">
                    <button class="{{'nav-link active' if active_tab=='new_lesson' else 'nav-link'}}" id ="nav-newLesson-tab" data-bs-toggle="tab" data-bs-target="#nav-newLesson" type="button" role="tab" aria-controls="nav-newLesson" aria-selected="true">
                        New Lesson
                    </button>
                </a>
            </div>
        </nav>
        <!-- Start Tab container here -->
        <div class="tab-content" id="nav-tabContent">
            <!-- Start Profile -->
            {%block profile%}
            {%endblock profile%}
            <!-- End Profile -->
            <!-- Start New_Lesson -->
            {%block new_lesson%}
            {%endblock new_lesson%}
            <!-- End New_Lesson-->
        </div>
        <!-- End  Tab container here-->
    </div>
</section>
{%endblock content%}